body {
  margin: 0;
}

.app {
  padding: 2% 6% 0 6%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.all-products,
.order {
  width: 38%;
  padding: 2rem;
}

.coin input,
.product-input {
  width: 5rem;
  height: 2rem;
  color: rgb(80, 80, 80);
  font-size: 1.2rem;
  text-align: center;
}

/* ------------- COINS Section  --------------------------------------------- */
.coins-container {
  background-color: rgb(230, 228, 228);
  padding: 2rem;
}
.total-cents {
  display: inline;
  color: rgb(23, 23, 185);
  margin-left: 2%;
  font-size: 1.5rem;
}
.all-coins {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  margin-bottom: 7%;
}
.coin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem;
}
.coin h2 {
  color: rgb(80, 80, 80);
}

/* ------------- PRODUCT Section  ------------------------------------------- */
.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.all-products h2 {
  margin: 1.7rem auto 0;
}
.products-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(230, 228, 228);
}
.product-details {
  display: flex;
}
.product-details p:last-child {
  margin-left: 1.2rem;
}

.order-total {
  font-size: 1.8rem;
  color: rgb(211, 41, 41);
  padding-left: 1rem;
  padding-right: 0.5rem;
}
